.fondo  {
    color: black;
    background-image: url(https://www.hola.com/horizon/original_aspect_ratio/d7ac1b6a11ce-mandalas-para-colorear-1z-z.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333;
    opacity: 0.9;
    padding: 40px;
    text-align: center;
    font-size: 20px;

}
